## TechParva - Datathon
## Team SegFault

In [2]:
import numpy as np
import matplotlib as plt
import pandas as pd
import seaborn as sb

In [12]:
!wget https://raw.githubusercontent.com/bimarshak7/my_nepal/master/my_nepal.csv -q -O dataset/my_nepal.csv

##### total_voters = pd.read_csv("dataset/total_voters.csv")
total_voters

Oops! There are only 77 district in Nepal, but data shows.

!!! Duplicate data alert

In [14]:
total_voters.isna().sum()

District        0
Male            0
Female          0
Third Gender    0
Total           0
dtype: int64

In [18]:
dupli = total_voters[total_voters.duplicated(['District'])]
dupli

              District   Male   Female  Third Gender     Total
28            Jajarkot  42410    36536             1      ????
29            Jajarkot  42410    36536             1      ????
50  Nawalparasi (East)  80316    89570             4   2212111
75              Tanahu  90144  3104327             0    194471

Jajarkot district is mentioned twice

In [16]:
province = pd.read_csv("dataset/my_nepal.csv")
province

         Province       District  District code        X        Y
0      PROVINCE 1      Taplejung            101  87.7763  27.6257
1      PROVINCE 1  Sankhuwasabha            102  87.1423  27.6142
2      PROVINCE 1     Solukhumbu            103  86.6611  27.7910
3      PROVINCE 1    Okhaldhunga            104  86.5047  27.3240
4      PROVINCE 1        Khotang            105  86.8220  27.2317
..            ...            ...            ...      ...      ...
72  SUDURPASHCHIM     Dadeldhura            705  80.4994  29.2188
73  SUDURPASHCHIM           Doti            706  80.8987  29.2006
74  SUDURPASHCHIM         Achham            707  81.2519  29.0396
75  SUDURPASHCHIM        Kailali            708  80.8092  28.7413
76  SUDURPASHCHIM     Kanchanpur            709  80.3213  28.8372

[77 rows x 5 columns]